# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [14]:
import numpy as np

arr1 = np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150])
window = 3

print('array length -',len(arr1))
print('number of moving averages -', len(arr1)-window+1)
for i in range(len(arr1)-window+1):
    print('y'+str(i+1)+'- '+str(arr1[i:i+window].mean().round(decimals=1)))

array length - 13
number of moving averages - 11
y1- 5.0
y2- 4.7
y3- 5.7
y4- 6.7
y5- 9.7
y6- 28.7
y7- 49.3
y8- 72.7
y9- 84.0
y10- 93.3
y11- 116.3

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [46]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
indeces = df.loc[:,'X'].index.values
values = df.loc[:,'X'].values
zeroLoc = 0
dist = []
for i in range(len(values)):
    if values[i] == 0:
        zeroLoc = i
    dist.append(i-zeroLoc)
df['Y'] = dist
df

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [71]:
import numpy as np
import pandas as pd
df = pd.DataFrame()
df['Date'] = pd.bdate_range('2011-01-01', '2011-12-31')
df['Num'] = list(np.random.randint(0,10000,size = 260))
df.head()

        Date   Num
0 2011-01-03   798
1 2011-01-04  2379
2 2011-01-05  5590
3 2011-01-06  6057
4 2011-01-07  5312